@font-face {
 font-family: 'Poppins Regular';
 src: url('../fonts/Poppins/Poppins-Regular.ttf');
}

@font-face {
 font-family: 'Poppins Bold';
 src: url('../fonts/Poppins/Poppins-Bold.ttf');
}

.root {
  dark-primary-color: #242526;
  light-primary-color: #f5f5f5;
  primary-color: #616161;
  secondary-color: #737373;
  accent-color: #03a9f4;
  primary-text: #f5f6f7;
  secondary-text: #757575;
  divider-color: #bdbdbd;

  -fx-base: primary-color;
  -fx-background: dark-primary-color;

  /* make controls (buttons, thumb, etc.) slightly lighter */
  -fx-color: derive(-fx-base, 10%);

  /* text fields and table rows background */
  -fx-control-inner-background: -fx-base;
  /* version of -fx-control-inner-background for alternative rows */
  -fx-control-inner-background-alt: derive(-fx-control-inner-background, 7%);

  /* text colors depending on background's brightness */
  -fx-light-text-color: light-primary-color; /* rgb(255, 253, 253) */
  -fx-mid-text-color: primary-text /* rgb(100, 100, 100) */;
  -fx-dark-text-color: primary-text /* rgb(20, 20, 20) */;

  /* A bright blue for highlighting/accenting objects.  For example: selected
     * text; selected items in menus, lists, trees, and tables; progress bars */
  -fx-accent: accent-color;

  /* color of non-focused yet selected elements */
  -fx-selection-bar-non-focused: rgb(50, 50, 50);

  /*paleta de colores personal*/
  -fx-font-size: 16;
  -fx-font-family: "Poppins Regular";
  button-primary-color: accent-color;
  button-secondary-color: derive(accent-color, 30%);

  -fx-background-color: linear-gradient(
    to left,
    primary-color,
    dark-primary-color
  );
}

/* Fix derived prompt color for text fields */
.text-input {
  -fx-prompt-text-fill: derive(-fx-control-inner-background, +50%);
  /* -fx-text-fill: dark-primary-color; */
  -fx-text-fill: white;
  /* -fx-font-weight: bold; */
  -fx-background-radius: 0.2em;
  -fx-border-radius: 0.2em;
}

/* Keep prompt invisible when focused (above color fix overrides it) */
.text-input:focused {
  -fx-prompt-text-fill: transparent;
  -fx-border-color: accent-color;
  -fx-border-width: 1.5;
}

/* Fix scroll bar buttons arrows colors */
.scroll-bar > .increment-button > .increment-arrow,
.scroll-bar > .decrement-button > .decrement-arrow {
  -fx-background-color: -fx-mark-highlight-color, rgb(220, 220, 220);
}

.scroll-bar > .increment-button:hover > .increment-arrow,
.scroll-bar > .decrement-button:hover > .decrement-arrow {
  -fx-background-color: -fx-mark-highlight-color, rgb(240, 240, 240);
}

.scroll-bar > .increment-button:pressed > .increment-arrow,
.scroll-bar > .decrement-button:pressed > .decrement-arrow {
  -fx-background-color: -fx-mark-highlight-color, rgb(255, 255, 255);
}

/*seccion personalizadad*/
.button {
  -fx-cursor: hand;
  -fx-background-radius: 10em;
  -fx-font-size: 1.1em;
  -fx-font-weight: 600;
  -fx-background-insets: 0px, 4px;
  -fx-text-fill: black;
  -fx-background-color: button-primary-color, button-secondary-color;
}

.button:hover {
  -fx-background-color: button-primary-color,
    derive(button-secondary-color, -10%);
}

.button:pressed {
  -fx-effect: dropshadow(three-pass-box, light-primary-color, 10, 0.5, 0, 0);
  -fx-background-color: derive(button-primary-color, 10%),
    derive(button-secondary-color, -20%);
}

.button:default {
  -fx-background-insets: 0px, 2px;
  -fx-background-color: button-secondary-color,
    derive(button-primary-color, -15%);
}
.button:cancel {
  -fx-background-insets: 0px, 2px;
  -fx-background-color: rgb(255,0,0),rgb(245,92,81)
}
.button:default:hover {
  -fx-background-color: button-primary-color,
    derive(button-secondary-color, -10%);
}

.btn-danger{
  -fx-background-insets: 0px, 2px;
  -fx-background-color: rgb(255,0,0),rgb(245,92,81)
}

.label {
  -fx-text-fill: primary-text;
}

.image {
  -fx-fit-width: 40;
}

.checkbox{
  -fx-text-fill: #fff;
}

/**/
.container{
  -fx-padding: 10;
}

.checkbox{
  -fx-text-fill: #fff;
}
